<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h2>E-commerce api's for products management.</h2>
    <p>Kindly use postman for checking api's e.g: /api/v1/product/create.</p>
    <sub>"/api/v1" is for version flexibility.</sub>
</body>
</html>